body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
#video-container {
    width: 504px;
    height: 405px;
    position: relative;
    margin-top: 20px;
    border: solid;
    border-radius: 5px;
    border-color: black;
    padding: 10px;
}
#video {
    width: 500px;
    height: 400px;
    border: 1px solid #ddd;
    background-color: rgb(156, 25, 25);
    align-items: center;
    object-fit: cover;
    color: #fff;
    display: flex;
    justify-content: center;
}
#result {
    margin-top: 20px;
    font-size: 20px;
    color: #333;
}
#scanButton {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgb(177, 31, 31);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


h1{
    font-size: 40px;
    letter-spacing: 2px;
    font-family: "Protest Riot", sans-serif;
}
h2{
    
    margin-bottom: 2px;

}


header {
    background-color: rgb(156, 25, 25);
    color: #fff;
    text-align: center;
    padding: 10px 0;

}

nav {
    background-color:rgb(156, 25, 25);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    
    border: 10px solid;
    border-color: #fff;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
