<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Code Scanner</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/scanner.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Protest+Riot&display=swap" rel="stylesheet">
<body>
    <header>
        <h1>TrackNClassify</h1>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="contact.html">Contact</a></li>
        </ul>
    </nav>
    <main>
        <h2>Welcome to our Portal</h2>
        <p>QR Code Scanner</p>
         
        <div id="video-container">
            
            <img id="video" src="{{ url_for('static', filename='default_image.jpg') }}" alt="QR will expire after 60 seconds">
            
        </div>

        <div id="result"></div>
        <button id="scanButton">Scan</button>


    </main>
       <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.0/socket.io.min.js"></script>
    <script>
        const socket = io.connect('http://' + document.domain + ':' + location.port);
        const resultElement = document.getElementById('result');
        const videoContainer = document.getElementById('video-container');
        const video = document.getElementById('video');
        const scanButton = document.getElementById('scanButton');
        let isCameraOn = false;

        scanButton.addEventListener('click', () => {
            if (!isCameraOn) {
                startCamera();
                scanButton.innerText = 'Stop';  // Change button text to 'Stop'
            } else {
                stopCamera();
                scanButton.innerText = 'Scan';  // Change button text to 'Scan'
            }
        });

        function startCamera() {
            fetch('/start_camera')
                .then(response => {
                    if (response.ok) {
                        isCameraOn = true;
                        video.src = '/start_camera';  // Set the video source to the streaming route
                        videoContainer.appendChild(video);
                        socket.emit('scan');  // Start scanning
                    } else {
                        console.error('Failed to start camera');
                    }
                })
                .catch(error => {
                    console.error('Error starting camera:', error);
                });
        }

        function stopCamera() {
            fetch('/stop_camera')
                .then(response => {
                    if (response.ok) {
                        isCameraOn = false;
                        video.src = '{{ url_for("static", filename="default_image.jpg") }}';  // Reset to default image
                        
                    } else {
                        console.error('Failed to stop camera');
                    }
                })
                .catch(error => {
                    console.error('Error stopping camera:', error);
                });
        }

        socket.on('scan_result', (message) => {
            resultElement.innerText = message;
        });
    </script>
</body>
</html>
